@model ProfileViewModel

<div class="p-4">
    <div><big><b>Role(s)</b></big></div>
    <div class="pt-2">
        @if (Model.Roles.Any())
        {
        <ol style="margin-left:0px; padding-left:15px;">
            @foreach(var role in Model.Roles)
            {
            <li>&nbsp; @role</li>
            }
        </ol>
        }
        else
        {
            <h5>None at the moment</h5>
        }
        @if (Model.AccountType.ToString() != "Applicant" && Model.AccountType.ToString() != "Employer")
        {
            if (User.IsInRole("Super Admin"))
            {
                <div>
                    <a class="btn btn-outline-primary" asp-action="ManageUserRoles" 
                       asp-route-userId="@Model.Id"  asp-controller="Administration">Manage Roles</a>
                </div>
            }
        }
    </div>
</div>
<hr/>