@model CompanyViewModel
@{
    ViewBag.Title = "Add Company";
    Layout = "_AdminLayout";
}



<div class="row ml-5 mr-5">

    <!-- left column -->
    <div class="col-sm-12  ml-3 mr-3">
        <!-- general form elements -->
        <div class="card card-primary card-outline">

                <div class="row p-5">
                    <!-- general form elements -->
                    <div class="card card-primary col-md-6">
                        <div>@ViewBag.ErrorMessage</div>
                        <!-- form start -->
                        <form role="form" enctype="multipart/form-data" method="post" asp-action="Company">
                            <div class="no-bullet"  asp-validation-summary="All"></div>
                            <div class="card-body">
                                @*<input asp-for="Id" hidden />*@
                                <input asp-for="ExistingLogo" hidden />
                                <input asp-for="ExistingCertificate" hidden />

                                <div class="row mb-2">
                                    <div class="col-sm-12">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" placeholder="Company Name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" placeholder="Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="Website" class="text-danger"></span>
                                        <div class="form-group">
                                            <label asp-for="Website"></label>
                                            <input asp-for="Website" placeholder="Website" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="Street"></label>
                                            <input asp-for="Street" placeholder="Street" class="form-control" />
                                        </div>
                                        <span asp-validation-for="Street" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="City"></label>
                                            <input asp-for="City" placeholder="City" class="form-control" />
                                        </div>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="Country"></label>
                                            <input asp-for="Country" placeholder="Country" class="form-control" />
                                        </div>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Logo" class="col-form-label"></label>
                                            <div class="">
                                                <div class="custom-file col-sm-12 ">
                                                    <input asp-for="Logo" type="file" class="custom-file-input form-control" />
                                                    <label class="custom-file-label">Pick a logo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="CompanyCertificate" class="col-form-label"></label>
                                            <div class="">
                                                <div class="custom-file col-sm-12 ">
                                                    <input asp-for="CompanyCertificate" type="file" class="custom-file-input form-control" />
                                                    <label class="custom-file-label">Upload PDF</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a asp-action="Users" asp-controller="Administration" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                  
                    <!-- /.content-wrapper -->
                </div>
                <!-- /.content-wrapper -->

          
        </div>
    </div>
</div>


@section Scripts{
    <script>
        // when document is ready
        // run the anonymous function
        // on change on custom-file-input element
        // get the value from the element and split it then pop out the last item
        // add the popped out item to the label element
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            })
        })
    </script>
}