@{
    ViewBag.Title = "Dashboard";
    Layout = "_AdminLayout";
}

<div class="row">

    <!-- left column -->
    <div class="col-sm-12">
        <!-- general form elements -->
        <div class="card card-primary card-outline">
            
            <p>
                - Review job post<br/>
                - Add Dropdown for employer <br/>
                - Add field for addedby <br/>
            </p>

        </div>
    </div>
</div>