<!--Footer-->
<div class="footer-box">
    <div class="container pt-5 pb-5">
        <div class="footer-tablets">
            <div>
                <div class="">
                    <a asp-action="Index" asp-controller="Home" class="sitename text-white"><strong><i class="fa fa-briefcase"></i> Careers</strong>Listing</a>
                </div>
                <p>
                    <div>
                        <u>Disclaimer!</u>
                    </div>
                    <div>
                        This website is not created for the purpose of real job listing or recruitement as the design portrays.
                        It is <strong><em>just for consent purpose only</em></strong>. Please ignore any Ads, description, article that might want to present
                        this website to you as a genuine job listing platform.
                    </div>
                </p>
            </div>
            <div>
                <div class="footer-links">
                    <div>LINKS</div>
                    <div class="pt-3">
                        <a href="#">Listings</a>
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-top">
        <a href="#top"><i class="fa fa-arrow-alt-circle-up fa-3x" style="position:fixed; right:5%; bottom:5%; cursor:pointer;"></i></a>
    </div>
</div>