@{
    ViewBag.Title = "Password changed";
    Layout = "../Administration/_AdminLayout";
}

<div class="row ml-5 mr-5">

    <!-- left column -->
    <div class="card card-primary card-outline col-md-12">
        <div class="card-body text-center">
            <div style="padding:12%;">
                <p>
                    
                    <i class="fa fa-check-circle text-success" style="font-size:12vh;"></i>
                </p>
                <h4 class="pt-3 text-success">
                    Password successfully changed!
                </h4>
            </div>
        </div>
    </div>
</div>



