@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "_AccountLayout";
}



<div class="register-box mt-3">
    <div class="card">
        <div class="card-body register-card-body">
            <div class="">
                <a href="#" style="font-size:41px; color:#0056B3;"><strong><i class="fa fa-briefcase"></i> Careers</strong>Listing</a>
                <div class="mb-3 text-center" style="font-size:18px; color:#ccc;"> - Reset Password [@ViewBag.Email] - </div>
            </div>

            <form class="mt-4" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" style="font-size:12px; list-style: none; "></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />

                <div><small><span asp-validation-for="NewPassword" class="text-danger"></span></small></div>
                <div class="input-group mb-3">
                    <input asp-for="NewPassword" placeholder="New Password" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div><small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small></div>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <br />

            <small><a class="text-center">Don't have an account yet? <b><span class="text-navy"> REGISTER</span></b></a> as</small>
            <center>
                <p class="mb-1">
                    <div class="text-center">
                        <a asp-action="Register" asp-controller="Account" asp-route-accType="applicant">APPLICANT</a> &nbsp; | &nbsp;
                        <a asp-action="Register" asp-controller="Account" asp-route-accType="employer">EMPLOYER</a>
                    </div>
                </p>
                <p class="mb-0">
                    <small><a asp-action="Login" asp-controller="Account">Already a member? <span class="text-navy"><b>LOGIN</b></span></a></small>
                </p>
            </center>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
    <div class="text-muted text-center">
        <small>Copyright &copy; @DateTime.Now.Year <a href="#">CareersListing</a>. All rights reserved.</small>
    </div>
</div>